[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
djangorestframework = "*"
django-cors-headers = "*"
pipenv = "*"
nltk = "*"
#certifi = "*"
#chardet = 3.0.4
#docopt = 0.6.2
#idna = 2.7
#pipreqs = 0.4.9
#pytz = 2018.5
#requests = 2.19.1
#six = 1.11.0
#urllib3 = 1.23
#virtualenv = 16.0.0
#virtualenv-clone = 0.3.0
#yarg = 0.1.9

[requires]
python_version = "3.7"
